<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Sign Up</title>
		<meta name="author" content="THANG" />
		<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
		<link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/print.css" type="text/css" media="print" />
		<!--[if IE]>
		  <link rel="stylesheet" href="/static/ie.css" type="text/css" media="screen, projection" />
		<![endif]-->
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen, projection" />
	</head>
	<body>
		<div class="container">
			<div class="span-24" id="header">
				<a href="{% url system.views.index %}">Index</a>.
				<a href="{% url system.views.shop_signup %}">Sign Up</a>
			</div>
			<div class="span-24" id="content">
				<form class="block-center" id="signup_form" action="" method="POST">
					{% csrf_token %}
					<table>
						<tr>
							<td><strong>Tên hiển thị</strong></td>
							<td>{{ form.display_name }}</td>\
						</tr>
						<tr>
							<td class="vertical-center"><strong>Tên đăng ký:</strong> </td>
							<td class="vertical-center" id="username">{{ form.username }}</td>
							{% if form.username.errors %}
								<td class="noborder">
									<div class="vertical-center text">
										{{ form.username.errors }}
										<script>$("#username").addClass("error");</script>
									</div>
								</td>
							{% endif %}
						</tr>
						<tr>
							<td class="vertical-center"><strong>Mật khẩu:</strong></td>					
							<td class="vertical-center" id="password">{{ form.password }}</td>
							{% if form.password.errors %}
								<td class="noborder">
									<div class="vertical-center text">
										{{ form.password.errors }}
										<script>$("#password").addClass("error");</script>
									</div>
								</td>
							{% endif %}
						</tr>
						<tr>
							<td class="vertical-center"><strong>Nhập lại mật khẩu:</strong></td>
							<td class="vertical-center" id="re_password">{{ form.re_password }}</td>
							{% if form.re_password.errors %}
								<td class="noborder">
									<div class="vertical-center text">
										{{ form.re_password.errors }}
										<script>$("#re_password").addClass("error");</script>
									</div>
								</td>
							{% endif %}
						</tr>
						<tr>
							<td><strong>Email:</strong></td>
							<td>{{ form.email }}</td>
						</tr>
						<tr>
							<td class="vertical-center"><strong>Nhập lại Email:</strong></td>
							<td class="vertical-center" id="email">{{ form.re_email }}</td>
							{% if form.re_email.errors %}
								<td class="noborder">
									<div class="vertical-center text">
										{{ form.re_email.errors }}
										<script>$("#email").addClass("error");</script>
									</div>
								</td>
							{% endif %}
						</tr>
						<tr>
							<td><strong>Địa chỉ:</strong></td>
							<td>{{ form.address }}</td>
						</tr>
						<tr>
							<td><strong>Số điện thoại:</strong></td>
							<td>{{ form.phone_number }}</td>
						</tr>
					</table>
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</body>
</html>
