{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}MCS - User Control Panel{% endblock %}

{% block header_url %}<a class="link" href="/admin/">Admin</a>{% endblock %}

{% block content %}
	<table class="center">
		<tr>
			<td>Display Name</td>
			<td>User Name</td>
			<td>Password</td>
			<td>Email</td>
			<td>Address</td>
			<td>Phone Number</td>
			<td>Status</td>
		</tr>
		{% for shop in shops%}
			<tr>
				<td>{{ shop.display_name }}</td>
				<td>{{ shop.username }}</td>
				<td>{{ shop.password }}</td>
				<td>{{ shop.email }}</td>
				<td>{{ shop.address }}</td>
				<td>{{ shop.phone_number }}</td>
				<td id="status">{{ shop.is_active }}</td>
			</tr>
		{%endfor%}
	</table>
	<script type="text/javascript">
	</script>
{% endblock %}
