{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/jquery.tablesorter.min.js">
		$(document).ready(function() { 
			$("#myTable").tablesorter();
		});
	</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
	<form id="change-content-form" action="/admin/" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td id="new-content-label"></td>
				<td id="new-content-input">{{ changeDetailsForm.new_content }}</td>
			</tr>
		</table>
		<div class="text-error block-center" id="error-show"></div>
		<input class="button" type="submit" />
	</form>
{% endblock %}