{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#signout-notice").dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				buttons: {
					"OK": function() {
						$(this).dialog("close");
						$(location).attr("href", "/");
					}
				}
			});
			$("#button").click(function() {
				$.ajax({
					type: "POST",
					url: "/signout/",
					success: function(data) {
						$("#signout-notice").html("You're successfully signed out!").dialog("open");
					}
				});
				return false;
			});
		});
	</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
	<div id="signout-notice" class="center" title="User sign out"></div>
	<a class="button" id="button" href="#">Click</a>
{% endblock %}