{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}<script type="text/javascript" src="/static/django.x-csrftoken.js"></script>{% endblock %}

{% block content %}
	<p id="p-id-1"></p>
	<p id="p-id-2"></p>
	<script type="text/javascript">
		function x() {
			$.ajax({
				type: "POST",
				url: "/ajax/",
				data: {username:"root", password: "root"},
				success: function(data){
					$("#p-id-1").html(data[0]);
					$("#p-id-2").html(data);
				}
			});
		};
		function y() {
			$("#p-id").html("test");
		}
	</script>
	<a class="button" href="javascript:void(0)" onclick="x()">Click</a>
{% endblock %}