<!DOCTYPE html>
<html>
	<head>
		{% block meta %}
			<!-- for extra meta tags -->
		{% endblock %}
		<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/static/django.x-csrftoken.js"></script>
		<script type="text/javascript" src="/static/jquery.form.js"></script>
		<script type="text/javascript" src="/static/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/static/mcs.user.sign.js"></script>
		<script type="text/javascript" src="/static/mcs.base.js"></script>
		{% block js %}
			<!-- for extra javascript -->
		{% endblock %}
		<link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/print.css" type="text/css" media="print" />
		<!--[if IE]>
		  <link rel="stylesheet" href="/static/ie.css" type="text/css" media="screen, projection" />
		<![endif]-->
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/jquery-ui-1.8.16.lightness.css" type="text/css" />
		<link rel="stylesheet" href="/static/jquery-ui-1.8.16.extra.css" type="text/css" />
		{% block css %}
			<!-- for extra css -->
		{% endblock %}
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="container" id="header">
			<div class="span-5 last">
				<a class="link" href="{% url system.views.index %}">Index</a>
				{% block header_url %}{% endblock %}
			</div>
			<div class="span-4 push-15 last" id="header-buttons">
				{% if user.is_authenticated %}
					{% if user.is_superuser %}
						<script type="text/javascript">$("#header-buttons").removeClass("span-4 push-15").addClass("span-6 push-13");</script>
						<a class="button" href="/admin/">Admin</a>	
					{% endif %}
					<a class="button" href="/usercp/">User CP</a>
					<button id="signout-button">Sign out</button>
				{% else %}
					{% block header_buttons %}{% endblock %}
				{% endif %}
			</div>
		</div>
		<div class="container main-content" id="content">
			{% block content %}{% endblock %}
		</div>
		<div class="container" id="footer">
			<div class="center">Copyright (c) MCS</div>
		</div>
		
		<!-- html components for javascript -->
		<div class="center dialog" id="signout-dialog" title="Confirm"></div>
		<div class="center dialog" id="notice-dialog" title="Notice"></div>
		{% block js_components %}
		{% endblock %}
	</body>
</html>