{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/js/mcs.user.sign.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("table,tr,td").addClass("noborder");
		});
	</script>
{% endblock %}

{% block title %}MCS - Index site{% endblock %}

{% block header_buttons %}
	<button id="signin-button">Sign in</button>
	<a class="button" href="/signup/">Sign up</a>
{% endblock %}

{% block search_box %}
	<div class="search-box">
		<form id="searchForm" action="/search/" method="get">
			<div id="searchDiv">
				<input type="text" name="globalSearch" id="searchBox" value="Enter your search" />
			</div>
			<input type="submit" id="searchSubmit" value="" />
		</form>
	</div>
{% endblock %}

{% block content%}
	<div class="container" id="user-notification">
		{% if user.is_authenticated %}
			<h1>User's notifications</h1>
			<h2>Hello {{ user.username }}</h2>
		{% else %}
			<h2>Hello stranger, you're not signed in</h2>
			<p>Please <a class="link" id="signin-button" href="#">sign in</a> or <a class="link" href="/signup/">sign up</a> for a new account now</p>
		{% endif %}
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
	<div class="container block-content bkground news">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis euismod mi quis iaculis. In ac eros et elit tristique porttitor nec sit amet eros. Integer ultrices egestas elementum. Cras vel arcu felis, eu vestibulum nisi. Donec dignissim venenatis lacus, sit amet ullamcorper arcu lacinia ut. Vestibulum nunc mi, mollis vel vehicula a, ultricies sed nibh. Nam nisi dolor, tempus vitae mollis eu, lobortis ac sapien. Suspendisse at hendrerit metus. Cras vulputate, eros a mollis aliquet, est diam ultricies libero, a ultricies nisi erat vitae magna.
	</div>
{% endblock %}
