{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}MCS - Index site{% endblock %}

{% block header_buttons %}
	<a class="button" href="/signin/">Sign in</a>
	<a class="button" href="/signup/">Sign up</a>
{% endblock %}

{% block content%}
	<h1>Main content</h1>
	{% if user.is_authenticated %}
		<h2>Hello {{ user.username }}</h2>
	{% else %}
		<h2>Hello stranger, you're not signed in</h2>
		<p>Please <a href="/signin/">sign in</a> or <a href="/signup/">sign up</a> for a new account now</p>
	{% endif %}
{% endblock %}
