{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/js/jquery.validate.additional-methods.min.js"></script>
	<script type="text/javascript" src="/static/js/mcs.user.sign.js"></script>
	<script type="text/javascript" src="/static/js/mcs.user.signup.js"></script>
{% endblock %}

{% block title %}MCS - User sign up{% endblock %}
{% block header_buttons %}<button id="signin-button">Sign in</button>{% endblock %}

{% block content %}
	<div class="container block-content bkground block-center" id="signup-dialog">
		<form id="signup-form" action="/signup/" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td><label>Tên hiển thị</label></td>
					<td>{{ form.display_name }}</td>
				</tr>
				<tr>
					<td><label>Tên đăng ký:</label> </td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td><label>Mật khẩu:</label></td>					
					<td>{{ form.password }}</td>
				</tr>
				<tr>
					<td><label>Nhập lại mật khẩu:</label></td>
					<td>{{ form.re_password }}</td>
				</tr>
				<tr>
					<td><label>Email:</label></td>
					<td>{{ form.email }}</td>
				</tr>
				<tr>
					<td><label>Nhập lại Email:</label></td>
					<td>{{ form.re_email }}</td>
				</tr>
				<tr>
					<td><label>Địa chỉ:</label></td>
					<td>{{ form.address }}</td>
				</tr>
				<tr>
					<td><label>Số điện thoại:</label></td>
					<td>{{ form.phone_number }}</td>
				</tr>
			</table>
			<div class="text-error block-center" id="error-display"></div>
			<input class="button" type="submit" value="Submit" id="submit"/>
		</form>
	</div>
{% endblock %}

{% block js_components %}
	<div class="dialog" id="signin-dialog" title="User sign in">
		<form class="block-center" id="signin-form" action="/signin/" method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td><label>Username</label></td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td>{{ form.password }}</td>
				</tr>
			</table>
			<div class="text-error block-center" id="error-display"></div>
			<p>
				{{ form.remember }}
				<label for="remember">Remember me</label>
			</p>
			<input class="button" type="submit" value="Submit" />
		</form>
	</div>
{% endblock %}