{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}MCS - User sign up{% endblock %}

{% block header_buttons %}<a class="button" href="/signin/">Sign in</a>{% endblock %}

{% block content %}
	<form class="block-center" action="" method="POST">
		{% csrf_token %}
		<table>
			<tr>
				<td><strong>Tên hiển thị</strong></td>
				<td>{{ form.display_name }}</td>
			</tr>
			<tr>
				<td class="vertical-center"><strong>Tên đăng ký:</strong> </td>
				<td class="vertical-center" id="username">{{ form.username }}</td>
				{% if form.username.errors %}
					<td class="noborder">
						<div class="vertical-center text">
							{{ form.username.errors }}
							<script>$("#username").addClass("error");</script>
						</div>
					</td>
				{% endif %}
			</tr>
			<tr>
				<td class="vertical-center"><strong>Mật khẩu:</strong></td>					
				<td class="vertical-center" id="password">{{ form.password }}</td>
				{% if form.password.errors %}
					<td class="noborder">
						<div class="vertical-center text">
							{{ form.password.errors }}
							<script>$("#password").addClass("error");</script>
						</div>
					</td>
				{% endif %}
			</tr>
			<tr>
				<td class="vertical-center"><strong>Nhập lại mật khẩu:</strong></td>
				<td class="vertical-center" id="repassword">{{ form.repassword }}</td>
				{% if form.repassword.errors %}
					<td class="noborder">
						<div class="vertical-center text">
							{{ form.repassword.errors }}
							<script>$("#repassword").addClass("error");</script>
						</div>
					</td>
				{% endif %}
			</tr>
			<tr>
				<td><strong>Email:</strong></td>
				<td>{{ form.email }}</td>
			</tr>
			<tr>
				<td class="vertical-center"><strong>Nhập lại Email:</strong></td>
				<td class="vertical-center" id="email">{{ form.reemail }}</td>
				{% if form.reemail.errors %}
					<td class="noborder">
						<div class="vertical-center text">
							{{ form.reemail.errors }}
							<script>$("#email").addClass("error");</script>
						</div>
					</td>
				{% endif %}
			</tr>
			<tr>
				<td><strong>Địa chỉ:</strong></td>
				<td>{{ form.address }}</td>
			</tr>
			<tr>
				<td><strong>Số điện thoại:</strong></td>
				<td>{{ form.phone_number }}</td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
{% endblock %}