{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/django.x-csrftoken.js"></script>
{% endblock %}

{% block title %}MCS - Sign in{% endblock %}

{% block header_buttons %}<a class="button" href="/shop/signup/">Sign up</a>{% endblock %}

{% block content %}
<form class="block-center" action="{% url 'system.views.sign_in' %}" method="POST">
	{% csrf_token %}
	<table>
		<tr>
			<td><strong>Username:</strong></td>
			<td>{{ form.username }}</td>
			<td><label class="text-error" id="username-error"></label></td>
		</tr>
		<tr>
			<td><strong>Password:</strong></td>
			<td>{{ form.password }}</td>
			<td><label class="text-error" id="password-error"></label></td>
		</tr>
	</table>
	<p>
		{{ form.remember }}
		<label for="remember">Remember me</label>
	</p>
	<input id="submit" type="submit" value="Submit" />
	<script type="text/javascript">
		$("table,tr,td").addClass("noborder");
		$("#id_username").blur(function(){
			if ($("#id_username").val() != "")
				$.ajax({
					type: "POST",
					url: "/ajax/",
					data: {username: $("#id_username").val()},
					success: function(data){
						$("#username-error").html(data == "validated" ? "" : data);
					}
				});
			else
				$("#username-error").html("This field is required");
		});
		$("#id_password").blur(function(){
			$.ajax({
				type: "POST",
				url: "/ajax/",
				data: {username: $("#id_username").val(), password: $("#id_password").val()},
				success: function(data){
					$("#password-error").html(data == "validated" ? "" : data);
				}
			});
		});
	</script>
</form>
{% endblock %}
