{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}<script type="text/javascript" src="/static/jquery.validate.min.js"></script>{% endblock %}
{% block title %}MCS - Sign in{% endblock %}

{% block header_buttons %}<a class="button" href="/shop/signup/">Sign up</a>{% endblock %}

{% block content %}
<form class="block-center" action="{% url 'system.views.sign_in' %}" method="POST">
	{% csrf_token %}
	<table>
		<tr>
			<td><strong>Username:</strong></td>
			<td>{{ form.username }}</td>
			{% if form.username.errors %}
				<td class="text-error">{{ form.username.errors }}</td>
			{% else %}
				<td></td>
			{% endif %}
		</tr>
		<tr>
			<td><strong>Password:</strong></td>
			<td>{{ form.password }}</td>
			{% if form.password.errors %}
				<td class="text-error">{{ form.password.errors }}</td>
			{% else %}
				<td></td>
			{% endif %}
		</tr>
	</table>
	<p>
		{{ form.remember }}
		<label for="remember">Remember me</label>
	</p>
	<input class="button" type="submit" value="Submit" />
	<script type="text/javascript">
		$("table,tr,td").addClass("noborder");
		$("#id_username,#id_password").addClass("required");
		$("form").validate({
			errorClass: "text-error",
			wrapper: "ul",
			errorElement: "li",
			errorPlacement: function(error, element) {
				element.parent("td").next("td").html(error);
			}
		});
	</script>
</form>
{% endblock %}
