{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/django.x-csrftoken.js"></script>
	<script type="text/javascript" src="/static/jquery.form.js"></script>
	<script type="text/javascript" src="/static/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("table,tr,td").addClass("noborder");
			$("#id_username,#id_password").addClass("required");

			function formValidate() {
				return $("form").validate({
					errorClass: "text-error",
					validClass: "text-success",
					errorElement: "span",
					errorPlacement: function(error, element) {
						element.parent("td").next("td").html(error);
					}
				}).form();
			}
			$("form").ajaxForm({
				type: "POST",
				dataType: "json",
				beforeSubmit: formValidate,
				success: function(data) {
					$("#username-error").html(data.res_username).show();
					$("#password-error").html(data.res_password).show();
					if (data.res_username == "" && data.res_password == "") {
						if (data.res_blocked)
							alert(data.res_blocked);
						else
							alert("User authenticated");
						$("#signin-form").hide();
						$(location).attr("href", "/");
					}
				}
			});
		});
	</script>
{% endblock %}

{% block title %}MCS - Sign in{% endblock %}

{% block header_buttons %}<a class="button" href="/shop/signup/">Sign up</a>{% endblock %}

{% block content %}
<form class="block-center" id="signin-form" action="" method="POST">
	{% csrf_token %}
	<table>
		<tr>
			<td><strong>Username:</strong></td>
			<td>{{ form.username }}</td>
			<td class="text-error" id="username-error"></td>
		</tr>
		<tr>
			<td><strong>Password:</strong></td>
			<td>{{ form.password }}</td>
			<td class="text-error" id="password-error"></td>
		</tr>
	</table>
	<p>
		{{ form.remember }}
		<label for="remember">Remember me</label>
	</p>
	<input id="submit" type="submit" value="Submit" />
</form>
{% endblock %}
