{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/mcs.usercp.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("table,tr,td").addClass("noborder");
		});
	</script>
{% endblock %}

{% block title %}MCS - User Control Panel{% endblock %}
{% block header_url %}<a class="link" href="/usercp/">{{ user.username }}</a>{% endblock %}

{% block content %}
	<h1>User Control Panel site</h1>
	<h2>Hello {{ user.username }}</h2>
	<a class="button" id="changepass-button" href="#">Change password</a>
{% endblock %}

{% block js_components %}
	<div class="block-center" id="changepass-dialog" title="Change password">
		<form id="changepass-form" action="/usercp/changepass/" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td><strong>Current password</strong></td>
					<td>{{ changePassForm.current_pass}}</td>
				</tr>
				<tr>
					<td><strong>New password</strong></td>
					<td>{{ changePassForm.new_pass}}</td>
				</tr>
				<tr>
					<td><strong>Confirm password</strong></td>
					<td>{{ changePassForm.confirm_pass}}</td>
				</tr>
			</table>
			<div class="text-error block-center" id="error-show"></div>
			<input class="button" type="submit" value="Submit" />
		</form>
	</div>
	<div class="center" id="changepass-notice" title="Notice"></div>
{% endblock %}