{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block js %}
	<script type="text/javascript" src="/static/js/jquery.validate.additional-methods.min.js"></script>
	<script type="text/javascript" src="/static/js/mcs.usercp.js"></script>
{% endblock %}

{% block title %}MCS - User Control Panel{% endblock %}

{% block content %}
	<h1>User Control Panel site</h1>
	<h2>Hello {{ user.username }}</h2>
	<a class="button" id="changepass-button" href="#">Change password</a>
{% endblock %}

{% block js_components %}
	<div class="block-center dialog" id="change-password-dialog" title="Change password">
		<form id="change-password-form" action="/usercp/changepass/" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td><label>Current password</label></td>
					<td>{{ changePassForm.current_pass}}</td>
				</tr>
				<tr>
					<td><label>New password</label></td>
					<td>{{ changePassForm.new_pass}}</td>
				</tr>
				<tr>
					<td><label>Confirm password</label></td>
					<td>{{ changePassForm.confirm_pass}}</td>
				</tr>
			</table>
			<div class="text-error block-center" id="error-show"></div>
			<input class="button" type="submit" value="Submit" />
		</form>
	</div>
	<div class="center dialog" id="change-password-notice" title="Notice"></div>
{% endblock %}